main {
    padding: 5rem;
    background-color: var( --shape-body);
    border-radius: 12px;
}

h2 {
    font: var(--heading-md);
    color: var(--text-heading);

    margin-bottom: 1.75rem;
}

h3 {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    font: var(--heading-sm);
    color: var(--text-heading);

    margin-bottom: 1.2rem;

    & img {
        height: 1.5rem;
        width: 1.5rem;
        filter: var(--filter);
    }
}

fieldset {
    border: none;
    margin-bottom: 3rem;

    &:last-child {
        margin-bottom: 0px;
    }

    label, * > label {
        font: var(--body-sm);
        font-weight: 200;
        color: var(--text-body);
        display: block;
        margin-bottom: .75rem;
    }

    & section {
        margin-bottom: 1rem;
    }

    & input[type="file"] {
        display: none;
    }

    & input[type="text"], input[type="number"], input[type="datetime-local"] {
        border: solid 1px var(--input-stroke);
        background-color: var(--input-base);
        font: var(--body-md);
        color: var(--text-body);

        outline: none;

        width: 100%;
        border-radius: 8px;
        padding-inline: 1rem;
        padding-block: 0.75rem;

        &::placeholder {
            color: var(--input-placeholder);
        }

        &:focus {
            border: solid 1px var(--brand-light);
        }

        &:invalid {
            border: solid 1px var(--feedback-danger);
        }
    }
}

input[type="datetime-local"] {
    appearance: none;
    -webkit-appearance: none;
    color: var(--input-placeholder);

    &::-webkit-calendar-picker-indicator {
        display: none;
        opacity: 0;
    }
}

.double-btn {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: calc(3rem);

    border-radius: .5rem;
    border: solid 1px var(--input-stroke);
    background-color: var(--input-base);

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100%;

        height: 2.5rem;
        margin: .2rem;

        cursor: pointer;

        legend {
            font: var(--body-sm);
            color: var(--input-placeholder);    
        }
        
        input {
            display: none;
        }

        img {
            height: 1rem;
            width: 1rem;
            filter: var(--filter);
            margin-right: .25rem;
        }
    }
}

.double-btn label:has(input:checked) {
    background-color: var(--shape-button);
    border-radius: 4px;

    legend {
        color: var(--text-heading);
        font-weight: 400;
    }

    img {
        filter: var(--filter-blue);
    }
}

input[type="text"], input[type="datetime-local"] {
    height: 3rem;
}

textarea {
    resize: none;
    height: 8.5rem;
    width: 100%;

    background-color: var(--input-base);
    border: solid 1px var(--input-stroke);
    border-radius: .5rem;

    padding: 1rem;

    font: var(--body-md);
    color: var(--text-body);
    
    outline: none;

    &::placeholder {
        font: var(--body-md);
        color: var(--input-placeholder)
    };

    &:focus {
        border: solid 1px var(--brand-light);
    }
}

.color-options {
    input[type="radio"] {
        display: none;
    }

    display: grid;
    grid-template-columns: repeat(auto-fit, 2.5rem);
    gap: .75rem;

    .radio-inner {
        cursor: pointer;
        position: relative;
    }
}

.radio-inner:has(input:not([type="radio"]:checked)) .color-circle:hover {
    background-color: var(--shape-hover);
}

.radio-inner:has(input[name="theme"]:not([type="radio"]:checked)):hover {
    background-color: var(--shape-hover);
}


.color-circle {
    background-color: var(--shape-button);
    height: 2.5rem;
    width: 2.5rem;

    border-radius: 100%;
}

.color-circle::after {
    content: "";
    display: block;
    background-color: red;
    height: 1.75rem;
    width: 1.75rem;

    border-radius: 100%;

    position: absolute;
    top: 15%;
    left: 15%;
}


.color-circle[data-color="blue"]::after {
    background-color: var(--brand-light);
}
.color-circle[data-color="navy"]::after {
    background-color: var(--accent-navy);
}
.color-circle[data-color="purple"]::after {
    background-color: var(--accent-purple);
}
.color-circle[data-color="fuschia"]::after {
    background-color: var(--accent-fuschia);
}
.color-circle[data-color="pink"]::after {
    background-color: var(--accent-pink);
}
.color-circle[data-color="red"]::after {
    background-color: var(--feedback-danger);
}
.color-circle[data-color="orange"]::after {
    background-color: var(--accent-orange);
}
.color-circle[data-color="yellow"]::after {
    background-color: var(--accent-yellow);
}
.color-circle[data-color="lime"]::after {
    background-color: var(--accent-lime);
}
.color-circle[data-color="green"]::after {
    background-color: var(--accent-green);
}
.color-circle[data-color="cyan"]::after {
    background-color: var(--accent-cyan);
}

.radio-inner:has(input:checked) > .color-circle {
    outline: solid  2px var(--brand-light);
} 

.event-theme {
    display: grid;
    grid-template-columns: repeat(auto-fit, 8.5rem);
    gap: .5rem;

    .radio-inner:has(input:checked) {
        border-width: 2px;
        border-color: var(--brand-light);
    }

    .radio-inner {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;

        background-color: var(--shape-button);
        border: solid 1px var(--input-stroke);
        border-radius: .5rem;

        padding: .2rem;
        margin-bottom: 0px;

        height: 6.5rem;
        width: 8.5rem;

        cursor: pointer;

        & input {
            display: none;
        }

        & img {
            height: 4rem;
            margin-bottom: .5rem;
        }

        & legend {
            color: var(--text-heading);
        }
    }
}

.style-page {
    width: 11rem;
}

.btn-switch {
    display: flex;
    flex-direction: row;
    align-items: center;

    & span {
        font: var(--body-sm);
        color: var(--text-body);
        margin-left: .25rem;
    }

    & label {
        background-color: var(--input-base);
        border: solid 1.5px var(--input-stroke);
        border-radius: 99px;
    
        display: flex;
        align-items: center;
        width: 4rem;
        height: 2rem;        

        cursor: pointer;

        margin-bottom: 0px;

        & input {
            display: none;
        }
    }

    & label:has(input:not(:checked)) {

        &::after {
            content: "";
            display: flex;
            width: 40%;
            height: 80%;
            background-color: var(--input-stroke);
            
            border-radius: 100%;

            margin-left: .2rem;
        }
    }

    & label:has(input:checked) {
        background-color: var(--brand-light);
        justify-content: flex-end;

        &::after {
            content: "";
            display: flex;
            width: 40%;
            height: 80%;
            background-color: var(--text-heading);
            
            border-radius: 100%;

            margin-right: .2rem;
        }
    }
}

.btn-switch:has(input:not(:checked)) #bright {
  display: none;
}

.btn-switch:has(input:checked) #dark {
  display: none;
}

.file-control {
    display: flex;
    flex-direction: row;

    align-items: center;

    label {
        height: 2.5rem;
        background-color: var(--shape-button);
        padding: 0.6rem;
        border-radius: 0.4rem;

        display: flex;
        align-items: center;

        font: var(--body-sm);
        color: white;

        margin: 0px;
        margin-right: .5rem;

        cursor: pointer;
        
        & img {
            height: 1rem;
            width: 1rem;
            margin-right: 0.5rem;
        }
    }

    .file-name {
        font: var(--body-md);
        color: var(--input-placeholder);
    }
}

.file-control:hover {
    label {
        background-color: var(--shape-hover);
    }
}

.checkbox-terms-notifications {
    padding-top: 2.5rem;
    border-top: solid .1px var(--input-stroke);

    & label {
        display: flex;
        align-items: center;

        & div {
            width: 1rem;
            height: 1rem;
            margin-right: 0.4rem;

            position: relative;

            & input {
                appearance: none;
                width: 1rem;
                height: 1rem;
        
                border: solid 1px var(--input-stroke);
                border-radius: 0.2rem;
        
                background-color: var(--input-base);
    
                cursor: pointer;
    
                &:checked {
                    border-color: var(--brand-light);
                }
            }
        }
        

        & span {
            font: var(--body-sm);

            & a {
                color: var(--brand-light);
                border-bottom: solid .2px var(--brand-light);
                cursor: pointer;
            }
        }
    }
}

.checkbox-terms-notifications label div:has(input:checked)::after {
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;

        position: absolute;
        inset: 0;

        background-image: url(../assets/icons/check.svg);
        filter: var(--filter-blue);
        background-position: center;
        background-size: .95rem;

        cursor: pointer;
}

.error-message {
    display: flex;
    align-items: center;
    margin-top: .75rem;

    svg {
        height: 1rem;
        width: 1rem;

        path {
            fill: var(--feedback-danger);
        }
    }

    span {
        color: var(--feedback-danger);
        font: var(--body-sm);
        margin-left: .5rem;
    }
}

.contact-section:not(:has(input:required:placeholder-shown)) .error-message {
  display: none;
}